<div style="background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover;
    background-position: center;
    width: 100% ;
    height: 500px ;" class="flex justify-center items-center">
  <p class="title-1">Welcome to your lists</h1>
</div>


<div class="flex justify-center py-6 bg-neutral">
  <div class="grid gap-8 justify-center grid-cols-4">
    <% @lists.each do |list| %>
      <div class="card bg-base-100 w-60">
        <div class="card-body items-center text-center">
          <%= link_to list.name, list_path(list)  %>
        </div>
      </div>
      <% end %>
  </div>
</div>
