@import "tailwindcss";
/* @plugin "daisyui"; */

html {
  background-color: black;
}

.title-1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  color: white;
  font-weight: bold;
}


.container {
  width: 1200px;
  margin: 25px auto;
}
